*::-webkit-input-placeholder {
	color: #c3c3c3;
    font-size: 14px;
	opacity: 1;
}
*:-moz-placeholder {
	color: #c3c3c3;
    font-size: 14px;
	opacity: 1;
}
*::-moz-placeholder {
	color: #c3c3c3;
    font-size: 14px;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #c3c3c3;
    font-size: 14px;
	opacity: 1;
}

a, button {
    cursor: pointer;
}
a, button, img, input {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    }
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    }
.upp {
    text-transform: uppercase;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.hidden {
    display: none;
}
/* ---------------------------- Form ----------------------------*/
.form_group {
    text-align: center;
    position: relative;
}
.form_input {
    display: inline-block;
    width: 100%;
    padding: 0 ;
    margin-bottom: 12px;
    height: 44px;
    position: relative;
    vertical-align: top;
}
.form_icon {
        position: absolute;
    width: 40px;
    color: rgba(182, 125, 75, 0.59);
    z-index: 11;
    
    
}
.form_icon i {
    font-size: 18px;
    line-height: 44px;
}
.allert, .allert_tell {
    position: absolute;
    z-index: 20;
    top: 15px;
    display: block;
    right: 18px;
    height: 20px;
    color: #FF6565;
    cursor: default;
}
.er_border, .error {
    border: 1px solid rgba(152, 2, 2, 0.95)!important
}
.allert:hover, .allert_tell:hover{
    text-decoration : none;
}                 
.allert span, .allert_tell span {
    display: none;
    opacity: 0;
    padding : 5px;
    margin-left : 5px;
    color:#000;
    font-style:italic;
    font-size: 14px;
    border-radius: 4px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    min-width: 140px;
    text-align: left;
}
.allert:hover span, .allert_tell:hover span {
    border : 1px solid #FF6565;
    background : #fff;
    display : inline;
    position : absolute;
    color : #4e4e4e;
    right:24px;
    top:-6px;
        font-family: 'ProximaNova-Extrabld';
    opacity: 1;
}
/* ============================ modal css =========================== */
.md_large {
    max-width: 100%;
    width: 90%;
    }
.md_large .md-content > div.md_content {
    padding: 0px 40px 0px;
    }
.md_large .md-content p {
    font-size: 0.9em;
    line-height: 1.4;
    }
.md_large .md-content p:first-child {
    padding-top: 24px;
    }
.md_large .md-content p:last-child {
    padding-bottom: 24px;
    } 
.md_large .md_content {
    max-height: 450px;
    overflow: auto;
    padding-top: 24px;
    }
.md_content:before {
    content: "";
    position: absolute;
    width: 90%;
    height: 24px;
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-repeat: repeat-x;
    }
.md_content:after {
    content: "";
    position: absolute;
    width: 90%;
    height: 24px;
    bottom:0;
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-repeat: repeat-x;
    }
.md-content h2 {
    text-align: center;
        margin: 0;
    }
.md_bottom {
    padding: 12px 0 0 0;
    }
.btn_close_modal {
        position: absolute;
    right: 55px;
    top: 55px;
    text-align: center;
    }
.btn_close_modal a {
    color: rgba(209, 34, 42, 0.5);
    width: 25px;
    height: 25px;
    display: block;
    }
.btn_close_modal a:hover {
    color: rgba(209, 34, 42, 1);
    }
.md-content .form_input {
        width: 75%;
}
/* ------------------- footer ------------------- */

#section_footer {
  height: 90px;
    padding: 0px 0;
    color: #9E9E9E;
    background: #000;
}
#section_footer ul {
    list-style-type: none;

    padding: 0;
        line-height: 90px;
}
#section_footer ul li {
    display: inline-block;
    padding-right: 10px;
  
}
#section_footer a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'GothaProLighet';
}
#section_footer a:hover {
    color: #c28650;
}  
#section_footer a img {
    opacity: 0.7;
        margin-top: 20px;
}
#section_footer a img:hover { 
    opacity: 1;
}

/* ------------------- You style hear ------------------- */


.gray {
    color: #999;
}
input {
    display: block;
    width: 100%;
    height: 100%;
  padding: 11px 18px 11px 38px;
 background: none;
    background-image: none;
  
    border: 1px solid rgba(207, 207, 207, 0);
    font-size: 16px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    	font-family: 'Proxima Nova Bold';
 color: #fff;
 
    }
.btn, .btn:focus {
    text-decoration: none;
    text-shadow: none;
    position: relative;
    background: rgba(40, 150, 230, 1);
    font-size: 18px;
    text-transform: uppercase;
    padding: 18px 24px 16px 24px;
    margin: 0 auto;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    }
.btn:hover {
    background: rgba(40, 150, 230, 0.8);
    color: #fff;
    }



.forms_botton{
    width: 100%;
    height: 44px;
    background: rgba(2, 165, 134, 0.21)!important;

    
    text-align: center;
 
    border-radius: 50px;
    
    text-transform: uppercase;

    	font-family: 'Proxima Nova Bold';
     color: #02a586;
}


.forms_botton:hover{
    width: 100%;
    height: 44px;
    background: transparent !important;
    border:  solid rgba(2, 165, 134, 0.47) !important;
    
    text-align: center;
 
    border-radius: 50px;
    
    text-transform: uppercase;
    color: #02a586;
    	font-family: 'Proxima Nova Bold';
}


form{
        margin-bottom: 18px;
}


.forms_botton:before{
    border: #03A687 solid 3px !important;
       border: 3px solid rgba(2, 165, 134, 0.47) !important;
    color: #02a586;
}



#form .hvr-ripple-out{
    border: #03A687 solid 3px !important;
       border: 3px solid rgba(2, 165, 134, 0.47) !important;
}

